﻿#divLeftPanel
{
    float:left;
    margin-right: 25px;
}

.label {
    padding: 9px 2px 4px 4px;
}

.control {
    margin: 4px 0px 4px 0px;
    /*margin: 4px 12px 4px 4px;*/
}

.control.datetime {
    margin-left: -3px;
    margin-right:5px;
    margin-top: 0px;
    max-width:393px;
    min-width:393px;
}

.ViewItemsTitle {
    color:black !important;
    font-size:1.1em;
    padding:5px;
}

.TimeBookingContent div {
    margin-right:5px;
}

.TimeBookingContent input {
    min-width:415px;
    max-width:415px;
}

.TimeBookingContent select {
    min-width:420px;
    max-width:420px;
}

.TimeBookingContent textarea {
    min-width:415px;
    min-height:90px;
}

.TimeBookingContent span {
    padding-left:0px;
    /*padding-left:10px;*/
}

/*.UpdatePanelItemsContent111 .s4-selectAllCbx {
    min-width:340px;
}*/


.TimeBookingContent .isrequired {
    color:red;
}

.error, .validator, .WorkDayControl span {
    color:red;
}

.pushbutton {
    height:40px;
    min-width:150px !important;
    border-style: none;
    margin: 26px 10px 0px 10px;
}

.ButtonSave1 {
    display:block;
    width:100px;
    height:100px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    border-radius:50px;
    font-size:20px;
    color:#fff;
    line-height:100px;
    text-align:center;
    text-decoration:none;
    background:#B81B1B;
}

.ButtonSave1:hover {
    color:#ccc;
    text-decoration:none;
    background:#333;
}

.ButtonSave2 {
    display:block;
    width:100px;
    height:100px;
    line-height:100px;
    background-image:url("/_layouts/OC.KanBo.TimeBooking/Start100x100.jpg");
    margin-top:45px;
}

.ButtonSave2:hover {
    background-image:url("/_layouts/OC.KanBo.TimeBooking/Start100x100Hover.jpg");
}
